{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "env": {
    "es6": true
  },
  "plugins": ["@typescript-eslint", "functional"],
  "rules": {
    "functional/no-conditional-statement": [
      "error",
      { "allowReturningBranches": "ifExhaustive" }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:functional/external-recommended",
    "plugin:functional/recommended",
    "plugin:functional/stylistic"
  ],
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "rules": {
        "@typescript-eslint/prefer-readonly-parameter-types": "off"
      }
    },
    {
      "files": ["*.ts.snap.test.ts"],
      "rules": {
        "functional/no-expression-statement": "off"
      }
    }
  ]
}
